body{
    width: 80%;
    margin: 0px auto;
    justify-content: center;
    background-color: rgb(4, 6, 26);
    color: rgb(195, 228, 247);
}

h1, h2, h3, h4{
    text-align: center;
}

#blue{
background-image: url('lightblue.jpg');
}

#gold{
background-image: url('lightgold.jpg');
}

a {
	text-decoration: none;
    padding-bottom: 1px;
    color:  rgb(195, 228, 247);
	border-bottom: 1px solid #dcdcee;
}

