body{
    width: 80%;
    margin: 0px auto;
    justify-content: center;
}

h1, h2, h3, h4{
    text-align: center;
}

#blue{
background-image: url('lightblue.jpg');
}

#gold{
background-image: url('lightgold.jpg');
}


